.letterList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:10em;
    margin-right:10em;
}

.letter-and-name {
    text-align: center;
}

.letter {
    font-weight: bold;
    font-size:xx-large;
}

.letter-name {
    font-style:italic;
}


.letter-container {
    display: flex;
    flex-direction: row;
}

.letter-sound {
    font-weight: bold;
}




h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

body {
    background-color: beige;
}

p {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 22px;
    font-family: "Gentium Book Basic"
}

/*Isnivrís fur ilítstchijsís snivrís ón ihémsbléd*/
.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-block;

    /* background-image: url(saltire.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;*/

    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 30px;
    border: 2px solid #444;
    border-radius: 4px;
    color: white;
    -webkit-text-stroke: 0.5px black;

}

#lanwurqlabel {
    background-image: url(saltire.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

#howdy {
    background-image: url(hamborger.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



.radio-toolbar label:hover {
    background-color: #dfd;
}

.radio-toolbar input[type="radio"]:focus+label {
    border: 2px dashed #444;
}

.radio-toolbar input[type="radio"]:checked+label {
    background-color: #bfb;
    border-color: #4c4;
}




#lítstchijs {
    display: flex;
    justify-content: center;

}